<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto-aprender</title>
</head>
<body>
    <h1>BIENVENIDO!!</h1>
    <div><a href="http://localhost:3000/miPerfil">Ir a mi perfil</a></div>
    <div><a href="http://localhost:3000/panelAdministrativo">Panel administrativo</a></div>
    <div><a href="http://localhost:3000/">Atras</a></div>
</body>
</html>