<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>proyecto-aprender</title>
</head>
<body>
	<h1>Inicio</h1>
	<div><a href="http://localhost:3000/registrarse">Registrarse</a></div>
    <div><a href="http://localhost:3000/iniciarSesion">Iniciar Sesion</a></div>
</body>
</html>