<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto-aprender</title>
</head>
<body>
	<h1>Iniciar sesion</h1>
	<form action="/iniciarSesion" method="POST">
		<div><input type="text" placeholder="Nombre de usuario" name="nombreDeUsuario"></div>
		<div><input type="password" placeholder="Contraseña" name="contraseña"></div>
		<input type="submit">
    	<a href="http://localhost:3000/">atras</a>
	</form>
</body>
</html>