<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto-aprender</title>
</head>
<body>
    <h1>BIENVENIDO/A <%= nombreDeUsuario %>!!</h1>
    <div ><p>tu email es: <%= email %></p></div>
    <div><p>tu edad es: <%= edad %></p></div>
    <div><p>tu genero es: <%= genero %></p></div>
    <a href="http://localhost:3000/">atras</a>
</body>
</html>